<!-- <section id="pricing" class="secondary-color text-center scrollto clearfix">
  <div class="row clearfix">
    <h3 class="bigText">404</h3>
    <h2>Nothing Found Here Try My <a routerLink="/Home">HOME PAGE </a></h2>
  </div>
</section> -->
<!-- <section class="text-center">
  <div class="parent">
    <div class="child">
      <h3 class="bigText">404</h3>
      <h2>Nothing Found Here Try My <a routerLink="/Home">HOME PAGE </a></h2>
    </div>
  </div>
</section> -->

<div class="conatine text-center">
  <div class="c-1 text-center">1</div>
  <div class="c-2 text-center">2</div>
</div>
