.bigText {
  font-size: 15em;
  text-align: center;
  margin: 0;
  position: relative;
}

.wrapper {
  position: relative;
}
.wrapper:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 50%;
  background-color: #d2b356;
}
.wrapper:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
}

.last {
  color: #d2b356;
}
.zero {
  position: relative;

  width: 100%;
  height: 100%;
  color: #fff;
}
.zero:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 25%;
  left: 25%;
  border-radius: 50%;
}
