<!--Content Section-->
<div id="services" class="scrollto clearfix">
  <div class="row no-padding-bottom clearfix">
    <!--Content Left Side-->
    <div class="col-3">
      <!--User Testimonial-->
      <blockquote class="testimonial text-right bigtest">
        <q>{{ servicesData.quote }}</q>
        <footer>{{ servicesData.username }}</footer>
      </blockquote>
      <!-- End of Testimonial-->
    </div>
    <!--End Content Left Side-->

    <!--Content of the Right Side-->
    <div class="col-3">
      <div class="section-heading">
        <h3>{{ servicesData.tagline }}</h3>
        <h2 class="section-title">{{ servicesData.title }}</h2>
        <p class="section-subtitle">
          {{ servicesData.desc1 }}
        </p>
      </div>
      <p>
        {{ servicesData.desc2 }}
      </p>
      <p>
        {{ servicesData.desc3 }}
      </p>
      <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
      <a
        href="#"
        data-videoid="UYJ5IjBRlW8"
        data-videosite="youtube"
        class="button video link-lightbox"
      >
        {{ servicesData.buttonText }}
        <i class=" {{ servicesData.icon }}" aria-hidden="true"></i>
      </a>
    </div>
    <!--End Content Right Side-->

    <div class="col-3">
      <img [src]="servicesData.image" alt="Dancer" />
    </div>
  </div>
</div>
<!--End of Content Section-->
