<section id="pricing" class="secondary-color text-center scrollto clearfix">
  <div class="row clearfix">
    <div class="section-heading">
      <h3>{{ blogsData.tagline }}</h3>
      <h2 class="section-title">
        {{ blogsData.title }}
      </h2>
    </div>

    <!-- <div
      class="pricing-block col-3 wow fadeInUp"
      data-wow-delay="0.4s"
      *ngFor="
        let blog of blogsData.blogs
          | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
      "
    >
    </div> -->
    <div
      class="pricing-block col-3 wow fadeInUp"
      data-wow-delay="0.4s"
      *ngFor="let blog of pages"
    >
      <app-plog [plogData]="blog"></app-plog>
    </div>
  </div>
  <!-- <app-pagenation></app-pagenation> -->

  <ul>
    <li>
      <a (click)="setPage(1)">First</a>
    </li>
    <li>
      <a (click)="setPage(pager.currentPage - 1)">previous</a>
    </li>
    <li *ngFor="let page of pager.pages">
      <a (click)="setPage(page)">{{ page }}</a>
    </li>
    <li>
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li>
      <a (click)="setPage(pager.totalpages)">Last</a>
    </li>
  </ul>
  <!-- <ngb-pagination
    class="paginator"
    [collectionSize]="blogsData.blogs.length * 10"
    [(page)]="page"
  >
    <ng-template ngbPaginationPrevious>Prev</ng-template>
    <ng-template ngbPaginationNext>Next</ng-template>
  </ngb-pagination> -->
</section>

<!--  -->

{{ pager.pages }}
{{ pager.totalPages }}
