:hostngb-pagination {
  ul {
    list-style: none;
    width: 400px;
    li {
      display: inline-block;
      border: 1px solid #000;
      padding: 10px;
      width: 20%;
      a {
        font-weight: bold;
      }
    }
  }
}
