<section class="secondary-color text-center scrollto clearfix">
  <div class="row clearfix">
    <div class="section-heading">
      <h2 class="section-title"><i class="fa fa-bin"></i> Contact Us</h2>
      <form [formGroup]="contactUsForm" (ngSubmit)="Send()">
        <app-input
          placeholder="Name"
          type="text"
          [control]="contactUsForm.get('userName')"
          [controlType]="'input'"
        >
        </app-input>
        <app-input
          placeholder="Email"
          type="text"
          [control]="contactUsForm.get('email')"
          [controlType]="'input'"
        >
        </app-input>
        <!-- <app-input
          placeholder="Message"
          type="text"
          [control]="contactUsForm.get('message')"
          [controlType]="'textarea'"
          cols="35"
        >
        </app-input> -->
        <textarea
          formControlName="message"
          cols="59"
          rows="10"
          placeholder="Your Message...."
        >
        </textarea>
        <p>
          Leave Us A Message and We Will Contact You , Go To
          <a routerLink="/Home">Home</a>
        </p>
        <div class="form-buttons">
          <button class="button" type="submit">send</button>
        </div>
      </form>
    </div>
  </div>
</section>
