@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  direction: ltr;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

p {
  line-height: 25px;
}

.row img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  line-height: inherit;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

iframe {
  border: 0 !important;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

figure {
  margin: 0;
}

/* Page Border */

.page-border {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
}

.page-border .bottom-border,
.page-border .left-border,
.page-border .right-border,
.page-border .top-border {
  background: #f3f3ef;
  position: fixed;
  z-index: 9999;
}

.page-border > .top-border,
.page-border > .right-border,
.page-border > .bottom-border,
.page-border > .left-border {
  padding: 11px;
  background: #ccc;
}

.page-border .bottom-border,
.page-border .top-border {
  width: 100%;
  padding: 10px;
  left: 0;
}

.page-border .left-border,
.page-border .right-border {
  padding: 10px;
  height: 100%;
  top: 0;
}

.page-border .top-border {
  top: 0;
}

.page-border .right-border {
  right: 0;
}

.page-border .bottom-border {
  bottom: 0;
}

.page-border .left-border {
  left: 0;
}

#wrapper {
  margin: 0 15px;
  padding: 15px 0;
  position: relative;
}

/* --------- 1.1 Input Elements ---------- */

input,
textarea {
  border: 1px solid #e1e1e1;
  padding: 10px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 3px;
}

input {
  height: 40px;
  margin: 3px 0;
  outline: none;
  line-height: normal;
  font-size: 14px;
}

input[type="submit"] {
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  padding-top: 0;
  padding-bottom: 0;
}

select {
  border: 1px solid #e1e1e1;
  height: 40px;
  padding: 5px;
}

input:focus,
textarea:focus {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

*:focus {
  outline: none;
}

/*------------------------------------------------------------------------------------------*/
/* 2. Layout Elements */
/*------------------------------------------------------------------------------------------*/

section {
  clear: both;
  overflow: hidden;
}

/* Rows and Columns */

.row {
  max-width: 1245px;
  margin: 0 auto;
  padding: 75px 0;
  position: relative;
}

.no-padding-bottom .row,
.no-padding-bottom div,
.no-padding-bottom.row {
  padding-bottom: 0;
}

.no-padding-top.row,
.no-padding-top div {
  padding-top: 0;
}

.big-padding-top {
  padding-top: 75px !important;
}

.big-padding-bottom {
  padding-bottom: 85px !important;
}

/* Targets all elements */

[class*="col-"] {
  float: left;
  padding: 20px;
}

#clients .col-2-3 [class*="col-"] {
  padding: 0;
}

/* Clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Main Widths */

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.33%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 20%;
}

.col-6 {
  width: 16.6666666667%;
}

.col-7 {
  width: 14.2857142857%;
}

.col-8 {
  width: 12.5%;
}

.col-9 {
  width: 11.1111111111%;
}

.col-10 {
  width: 10%;
}

.col-11 {
  width: 9.09090909091%;
}

.col-12 {
  width: 8.33%;
}

.col-2-3 {
  width: 66.66%;
}

.col-3-4 {
  width: 75%;
}

.col-9-10 {
  width: 90%;
}

/* Golden Ratio */
.col-61 {
  width: 61.8%;
}

.col-38 {
  width: 38.2%;
}
