/*Font Icon sizes*/

.fa-1x {
  font-size: 15px !important;
}
/*Icon Block*/
.icon-block {
  position: relative;
}
.icon-block h4 {
  font-weight: bold;
  padding-top: 0;
}
.icon-block .icon {
  position: absolute;
}
.icon-block p {
  margin-top: 0;
}
/* Icon Left*/
.icon-left .icon {
  left: 15;
}
.icon-left .icon-block-description {
  padding-left: 53px;
}
/* Icon Right */
.icon-right .icon {
  right: 15;
}
.icon-right .icon-block-description {
  padding-right: 53px;
}
/* Icon Above */
.icon-top {
  display: block;
}
.icon-top .icon {
  position: relative;
  display: block;
}
.icon-top .icon-block-description {
  padding-top: 25px;
}
