img {
  vertical-align: top;
}
.image-center {
  display: block;
  margin: 0 auto;
}
a img {
  border: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a img:hover {
  opacity: 0.7;
}
