.section-heading {
  padding: 0 0 15px 0;
  h3 {
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    letter-spacing: 2px;
    padding-bottom: 0;
  }
  .section-subtitle {
    font-size: 18px;
    padding-top: 0;
  }
}
