<section class="secondary-color text-center scrollto clearfix">
  <div class="row clearfix">
    <div class="section-heading">
      <!-- <h3>LogIn</h3> -->
      <h2 class="section-title">
        Sign Up
      </h2>
      <form [formGroup]="signUpForm">
        <app-input
          placeholder="Name"
          label="UserName"
          type="text"
          [control]="signUpForm.get('username')"
          [controlType]="'input'"
        >
        </app-input>
        <app-input
          placeholder="email"
          label="Email"
          type="'email'"
          [control]="signUpForm.get('email')"
          [controlType]="'input'"
        >
        </app-input>
        <app-input
          placeholder="password"
          label="Password"
          type="password"
          [control]="signUpForm.get('password')"
          [controlType]="'input'"
        >
        </app-input>
        <app-input
          placeholder="repeat password"
          label="Confirm Password"
          type="password"
          [control]="signUpForm.get('confirmPassword')"
          [controlType]="'input'"
        >
        </app-input>

        <ng-container *ngIf="signUpForm.errors">
          <p
            *ngIf="
              signUpForm.errors.passwordDontMatch &&
              signUpForm.get('password').touched &&
              signUpForm.get('confirmPassword').touched
            "
            class="styleError"
          >
            passwords Must Match..
          </p>
        </ng-container>
        <div class="buttons">
          <button class="button" type="submit">login</button>
          <button class="button" type="button" (click)="signUpForm.reset()">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

{{ signUpForm.errors | json }}
