<section class="secondary-color text-center scrollto clearfix">
  <div class="row clearfix">
    <div class="section-heading">
      <h2 class="section-title"><i class="fa fa-sign-in"></i> Log In</h2>
      <form [formGroup]="loginForm" (ngSubmit)="logIn()">
        <app-input
          placeholder="Email"
          type="text"
          [control]="loginForm.get('email')"
          [controlType]="'input'"
        >
        </app-input>
        <app-input
          class="password"
          placeholder="Password"
          [type]="fieldTextType ? 'text' : 'password'"
          [control]="loginForm.get('password')"
          [controlType]="'input'"
        >
        </app-input>
        <!-- <input
          type="checkbox"
          (click)="this.feildTextType = !this.feildTextType"
        /> -->
        <p>
          Show/Hide
          <i
            class="showPass fa fa-lg"
            [ngClass]="{
              'fa-eye-slash': !fieldTextType,
              'fa-eye': fieldTextType
            }"
            (click)="togglePassVisibility()"
          ></i>
        </p>
        <div class="form-buttons">
          <button
            class="button loginButton"
            type="submit"
            [class.disabled]="loginForm.invalid"
          >
            login
          </button>
          <button
            class="button resetButton"
            type="button"
            (click)="loginForm.reset()"
          >
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
