#header {
  font-size: 13px;
  nav {
    ul {
      text-transform: uppercase;
      li {
        a {
          height: 71px;
          line-height: 71px;
          display: block;
          padding: 0 10px;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
  #nav-trigger {
    display: none;
    text-align: right;
    span {
      display: inline-block;
      width: 38px;
      height: 71px;
      color: #111;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 22px;
      text-align: center;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      &:after {
        font-family: "fontAwesome";
        display: inline-block;
        width: 38px;
        height: 71px;
        line-height: 75px;
        text-align: center;
        content: "\f0c9";
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }
      &:hover {
        opacity: 0.6;
      }
    }
    span.open:after {
      content: "\f00d";
    }
  }
}
